# Introduction

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
import pandas as pd
import missingno as msno

In [2]:
# get the current directory of computer
os.getcwd()

'c:\\Users\\Clone\\Brazillian Ecommerce Case Study\\Brazillian-Ecommerce-Case-Study'

In [3]:
# direct the directory to the folder containing dataframe
os.chdir('C:\\Users\\Clone\\OneDrive - v35p0\\Desktop\\Desktop\\Office\\Brazillian Ecommerce')

## I. Data Inspection

### I.I Inspecting Customer and Geolocation datasets

In [4]:
# Import customer dataset
df_cstmr = pd.read_csv('olist_customers_dataset.csv')
df_cstmr.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
# Import geolocation dataset
df_geo = pd.read_csv('olist_geolocation_dataset.csv', dtype={'geolocation_zip_code_prefix': str})
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP

In [8]:
# Checking info() of df_cstmr
df_cstmr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [ ]:
# Checking info() of df_geo

In [6]:
df_payment = pd.read_csv('olist_order_payments_dataset.csv')
df_payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [7]:
df = pd.merge(df_cstmr,
                 df_geo[['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng']],
                 left_on='customer_zip_code_prefix',
                 right_on='geolocation_zip_code_prefix',
                 how='inner')
df.tail()
# missing_df = df.isnull().sum()
# for i in range(len(missing_df)):
#     print("Missing rows in {} : {}".format(missing_df.index[i], missing_df.values[i]))

# df.head()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat