# Introduction

![Image Description](https://github.com/AnthonyLe632/Brazillian-Ecommerce-Case-Study/blob/main/data_schema.png)

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
import missingno as msno
import os

In [6]:
# get the current directory of computer
os.getcwd()

'c:\\Users\\Clone\\Brazillian Ecommerce Case Study\\Brazillian-Ecommerce-Case-Study'

In [7]:
# direct the directory to the folder containing dataframe
os.chdir('C:\\Users\\Clone\\OneDrive - v35p0\\Desktop\\Desktop\\Office\\Brazillian Ecommerce')

## I. Data Inspection

### I.I Inspecting Customer and Geolocation datasets

In [8]:
# Import customer dataset
df_cstmr = pd.read_csv('olist_customers_dataset.csv')
df_cstmr.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
# Import geolocation dataset
df_geo = pd.read_csv('olist_geolocation_dataset.csv')
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [10]:
# Checking info() of df_cstmr
df_cstmr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [11]:
# Checking info() of df_geo
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [12]:
df = pd.merge(df_cstmr,
                 df_geo[['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng']],
                 left_on='customer_zip_code_prefix',
                 right_on='geolocation_zip_code_prefix',
                 how='inner')
df.tail()
# missing_df = df.isnull().sum()
# for i in range(len(missing_df)):
#     print("Missing rows in {} : {}".format(missing_df.index[i], missing_df.values[i]))

# df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
15083450,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,74980,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,74980,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,74980,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,99043,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,99043,-28.226596,-52.467505